body{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}
/*
aside {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

p {
    display: block;
}

a:-webkit-any-link {
    color: -webkik-link;
    cursor: auto;
    text-decoration: underline;
}

ul {
    display: block;
    list-style-type: disc;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
    font-family: monospace;
}

hr {
    display: block;
    border-style: inset;
    border-width: 1px;
}*/